<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="loginCSS.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>User Login</title>
  </head>
  <body>
    <header>
      <!-- <h1>User Login</h1> -->
    </header>

    <!-- <p class="pageTitle">CODE SNIPPET</p> -->

    <section id="login-page">
      <!--this is the page that will display for /login one form that has a username and password inputs and only one submit button  -->

      <!-- The UL will not run until we tell it to in JS. This will not show up on page until the user tries to login and enters something incorrectly -->
      <ul class = "error">
        {{#errors}}script
          <li>{{msg}}</li>
          {{/errors}}
      </ul>

      <!-- The form will show up on the browser for the user -->
      <p class="formTitle">To manage your Snippets, please login below</p>
      <form id="loginForm" action="/loginForm" method="post">
        <input class="input" type="text" name="username" placeholder="Username" value="snippetText"/>
        <input class="input" type="password" name="password" placeholder="Password" value=""/>
        <input class="button" type="submit" name="Submit" value=""/>
        <p class="message">Not registered? <a href="/createAccount">Create an account</a></p>
      </form>

      <div id="notAUser" class="error">
        {{something}}
      </div>
    </section>

  </body>
</html>

<form class="loginID" action="/loginForm" method="post">
      <input type="text" name="loginID" value="" placeholder="Type test here">
      <button type="submit" name="button">submit</button>
</form>
